In [1]:
a = 2

In [2]:
print(a)

2

print('This is ',a)

This is raw

# Heading Here

# Variables

In [7]:
#get all KeyWord
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
print(len(keyword.kwlist))

35

In [6]:
x = 3
print(id(x))

94295783637856

# Variable Operation

In [9]:
a = 10
b=3

In [11]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

13
7
30
3.3333333333333335
3
1000

In [12]:
import math
a = 2
math.log(2)

0.6931471805599453

In [13]:
10**2

100

In [14]:
math.log(100)

4.605170185988092

# Logical Operation

In [15]:
print(2>3)

False

In [17]:
print(2 and 3)

3

In [18]:
print(1 or 2)

1

In [20]:
print(1)

1

# If Conditions

In [21]:
englishMark = 20
kannadaMark = 40
if englishMark > kannadaMark:
    print("Go to English College")
else:
    print("Go to Kannada College")

Go to Kannada College

In [24]:
total = englishMark + kannadaMark
if englishMark<50 and kannadaMark>50:
    print("Not Good")
elif kannadaMark<50 and englishMark>50:
    print("Not Bad")
elif englishMark>50 and kannadaMark>50:
    print("Excellent")
else:
    print("Waiting List")

Waiting List

# Loops

In [25]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [30]:
while i>0:
    print(i)
    i = i-1

9
8
7
6
5
4
3
2
1

In [31]:
def calculateExp(a,b):
    return a**b

In [32]:
print(calculateExp(2,3))

8

In [33]:
print(calculateExp(1,3))

1

In [34]:
name = 'Navaneeth'

In [35]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [36]:
name.isdigit()

False

In [37]:
name.isalpha()

True

In [38]:
name.upper()

'NAVANEETH'

In [39]:
name

'Navaneeth'

In [40]:
name.find('a')

1

In [41]:
name.replace('a','n')

'Nnvnneeth'

# Input

In [42]:
a = input('Enter a Number: ')
print('Entered number is ',a)

Enter a Number: 23
Entered number is  23

In [43]:
#function which rreturn smallest element
def smallest(a,b,c):
    if a<b:
        if a<c:
            return c
        else:
            return a
    else:
        if b<c:
            return b
        else:
            return c

In [46]:
small = smallest(3,2,6)
print('Smallest number is '+str(small))

Smallest number is 2

#  Loop with Lists

In [47]:
character = ["Protogist","Markova","JimLee","Harmyio"]
for i in character:
    print('Length of ',i,' is ',len(i))

Length of  Protogist  is  9
Length of  Markova  is  7
Length of  JimLee  is  6
Length of  Harmyio  is  7

In [48]:
#for Loop with skipping
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [60]:
st = ''
for i in range (0,9):
    if i<5:
        st+= '* '
        print(st)
    elif i>4:
        st = st[:-2]
        print(st)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Enumeration For Loop

In [61]:
name = "Navaneeth"
for i,nam in enumerate(name):
    print(i,nam)

0 N
1 a
2 v
3 a
4 n
5 e
6 e
7 t
8 h

# Functions

In [62]:
def walk():
    print('Walking')
def run():
    print('Running')

In [64]:
print('What action do you want to perform \n1.Walk\n2.Run')
action = input('')
if action =="walk":
    walk()
else:
    run()

What action do you want to perform
1.Walk
2.Run
rub
Running

# Prime Number or Not Check

In [66]:
def primeCheck(num):
    isDivisible = False
    i=2
    while i<num:
        if num % i ==0:
            isDivisible = True
            break
        i = i +1
    return isDivisible

In [70]:
num = int(input('Enter number to check for primeNumber'))
if primeCheck(num):
    print(num,' is not prime Number')
else:
    print('{} is a prime Number'.format(num))

Enter number to check for primeNumber10
10  is not prime Number

# Factorial of a number using Function

In [74]:
def factorialNumber(num):
    if num==0:
        return 1
    return num * factorialNumber(num-1)

In [78]:
num = int(input('Enter  number to check factorial '))
output = factorialNumber(num)
print("{}! = {}".format(num,output))

Enter  number to check factorial 5
5! = 120

# Submitton: finding the sum of given numbers

In [81]:
def submitton(*args):
    return sum(args)

In [82]:
print('{} is sum of 2,3,4,5'.format(submitton(2,3,4,5)))

14 is sum of 2,3,4,5

In [84]:
printNumber = lambda x,y:print('Sum of {} and {} is {}'.format(x,y,x+y))
printNumber(2,2)

Sum of 2 and 2 is 4

# Documentation of Function

In [85]:
def triple(x):
    """
    Find the triple of a number
    """
    return x**3

In [86]:
print(triple(2))

8

In [88]:
print(triple.__doc__)

    Find the triple of a number

# String Part 1

In [90]:
name = 'Navaneeth'
hobby = 'Creator'
len(name),len(hobby)

(9, 7)

In [91]:
name.upper()

'NAVANEETH'

In [92]:
name.lower()

'navaneeth'

In [93]:
sentence = 'This is world    '
sentence.rstrip()

'This is world'

In [95]:
familyName= 'Chakrada@'
familyName.rstrip('@')

'Chakrada'

In [96]:
prof = '  say something'
prof.lstrip()

'say something'

In [97]:
gmail = '*123#'
gmail.lstrip('*').rstrip('#')

'123'

In [98]:
a = '2 hello'
numb = a[0]
print(numb)

2

In [99]:
info = a[2:]
print(info)

hello

In [100]:
info.replace('l','n')

'henno'

In [103]:
info = info + ' World'

In [104]:
info[2:4]

'll'

In [105]:
info[:5]

'hello'

In [106]:
info[2:-2]

'lloWorld Wor'

In [108]:
info

'helloWorld World'

In [107]:
info[:-1]

'helloWorld Worl'

# skip the value
# a[2::3] means start with index 2 & take next 3 position from the string

In [109]:
a = '123456789'
nm = a[2::3]
print(nm)

369

In [112]:
print(a[:-1:3])

147

In [113]:
name ='Navaneeth'
college = 'Srinivas School of Engineering'
branch = 'Computer Science'
fullInfo = 'My '+' Name is '+name+' And I am studying in '+college+' in branch '+branch
print(fullInfo)

My  Name is Navaneeth And I am studying in Srinivas School of Engineering in branch Computer Science

In [114]:
print('My Name is {0} and studied {2} in College {1}'.format(name,college,branch))

My Name is Navaneeth and studied Computer Science in College Srinivas School of Engineering

In [115]:
print('My Name is {} and studied {} in College {}'.format(name,college,branch))

My Name is Navaneeth and studied Srinivas School of Engineering in College Computer Science

In [117]:
age =21
print('I am '+str(age)+' years old')

I am 21 years old

In [119]:
check ='Computer Science'
print(fullInfo)
check in fullInfo

My  Name is Navaneeth And I am studying in Srinivas School of Engineering in branch Computer Science

True

# DataStructure is Python
# Array, List, Dictionary,

# List

In [120]:
a  = []
type(a)

list

In [121]:
a = ['My','gmail','is','navaneethb@gmail.com']

In [123]:
a[3] in a

True

In [124]:
a[1:3]

['gmail', 'is']

In [126]:
' '.join(a)

'My gmail is navaneethb@gmail.com'

In [129]:
an = 'This is it'
an.split(' ')

['This', 'is', 'it']

In [130]:
list(an)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'i', 't']

In [131]:
len(an) == len(list(an))

True

In [132]:
a

['My', 'gmail', 'is', 'navaneethb@gmail.com']

In [133]:
a[-1]

'navaneethb@gmail.com'

In [134]:
a[1:3]

['gmail', 'is']

In [135]:
a[:-2]

['My', 'gmail']

In [136]:
a[0::2]

['My', 'is']

In [137]:
points = [2,3,4,5]

In [138]:
points

[2, 3, 4, 5]

In [140]:
points.append(6)

In [141]:
points

[2, 3, 4, 5, 6]

In [142]:
points.pop()

6

In [143]:
points

[2, 3, 4, 5]

In [144]:
points.pop(2)

4

In [145]:
points.pop()

5

In [146]:
points

[2, 3]

In [147]:
items =['Furniture','Appliances','Electronics']

In [148]:
items

['Furniture', 'Appliances', 'Electronics']

In [149]:
items.append('Mobile')

In [150]:
items

['Furniture', 'Appliances', 'Electronics', 'Mobile']

In [151]:
items.remove('Furniture')

In [152]:
items

['Appliances', 'Electronics', 'Mobile']

In [153]:
newDuplicate = items
print(id(items))
print(id(newDuplicate))

140646832377040
140646832377040

In [154]:
newDuplicate.append('Dress')

In [155]:
newDuplicate

['Appliances', 'Electronics', 'Mobile', 'Dress']

In [156]:
items

['Appliances', 'Electronics', 'Mobile', 'Dress']

In [157]:
newCopy = items.copy()

In [158]:
id(items),id(newCopy)

(140646832377040, 140646833259136)

In [159]:
items.append('Hat')

In [160]:
items

['Appliances', 'Electronics', 'Mobile', 'Dress', 'Hat']

In [161]:
newCopy

['Appliances', 'Electronics', 'Mobile', 'Dress']

In [164]:
secret = 'This is secret message@this is info #hello#How#are#you#'
secret.split('@')[1].split('#')[1:]

['hello', 'How', 'are', 'you', '']

In [165]:
increamentMoney = [223342]*3

In [166]:
increamentMoney

[223342, 223342, 223342]

In [167]:
a=[2,4]
b=[4,2]
a+b

[2, 4, 4, 2]

In [172]:
c = 5
a+a

[2, 4, 2, 4]

In [174]:
sorted(a+a)

[2, 2, 4, 4]

In [175]:
number = [20,23,22,12,34]

In [176]:
min(number)

12

In [177]:
max(number)

34

In [178]:
totalMix = [number,[2,3,4],[12,21,31]]

In [179]:
totalMix

[[20, 23, 22, 12, 34], [2, 3, 4], [12, 21, 31]]

In [180]:
totalMix[1]

[2, 3, 4]

In [181]:
totalMix[0][1]

23

# Tuple

In [182]:
a = (1.2332,"Float","probability")

In [183]:
a

(1.2332, 'Float', 'probability')

In [184]:
type(a)

tuple

In [185]:
b = a

In [186]:
b

(1.2332, 'Float', 'probability')

In [187]:
a

(1.2332, 'Float', 'probability')

In [188]:
id(a),id(b)

(140646833260576, 140646833260576)

In [189]:
a[2]

'probability'

In [190]:
a[2:]

('probability',)

In [191]:
a[1:]

('Float', 'probability')

In [192]:
a[:-1]

(1.2332, 'Float')

In [194]:
a = (1,2,3,4,5,6,7,8,9,10)
a[0::2]

(1, 3, 5, 7, 9)

In [195]:
a[0::1]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [200]:
a[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

# set

In [201]:
bc = [2,5,3,2]
print(set(bc))

{2, 3, 5}

In [202]:
student1 = {100,45,23,12}
student2 = {20,45,12,120}
student1.intersection(student2)

{12, 45}

In [203]:
student1.union(student2)

{12, 20, 23, 45, 100, 120}

In [205]:
student1.difference(student2)

{23, 100}

In [206]:
student1.add("Good")

In [207]:
student1

{100, 12, 23, 45, 'Good'}

In [208]:
student1.remove(100)

In [209]:
student1

{12, 23, 45, 'Good'}

In [211]:
main = {'h1','h2','div'}
sub = {'h2','div'}
sub.issubset(main)

True

In [217]:
#symmetric difference will give the difference element between the two
aunique = {'Fire','strongPunch','flyKick','Water'}
bunique = {'Water','mindControl','Earth','Fire'}
print(type(aunique))
aunique.symmetric_difference(bunique)

<class 'set'>

{'Earth', 'flyKick', 'mindControl', 'strongPunch'}

# Dictionary

In [221]:
wordMap = {'name':'Navaneeth','phoneNumber':9481019888,'address':['Japan','Korea']}

In [216]:
wordMap

{'name': 'Navaneeth',
 'phoneNumber': 9481019888,
 'addresss': ['Japan', 'Korea']}

In [219]:

wordMap['name']

'Navaneeth'

In [224]:
wordMap.get('address','NA')

['Japan', 'Korea']

In [225]:
wordMap.get('Proffession','NA')

'NA'

In [226]:
wordMap['Proffession'] = 'Scientist'

In [227]:
wordMap

{'name': 'Navaneeth',
 'phoneNumber': 9481019888,
 'address': ['Japan', 'Korea'],
 'Proffession': 'Scientist'}

In [231]:
list(wordMap.keys()),list(wordMap.values())

(['name', 'phoneNumber', 'address', 'Proffession'],
 ['Navaneeth', 9481019888, ['Japan', 'Korea'], 'Scientist'])

In [232]:
letterMap = dict(nameL='N',PhoneNumberL=9,addressL=['J','K'],ProffessionL='S')

In [233]:
wordMap.update(letterMap)

In [234]:
wordMap

{'name': 'Navaneeth',
 'phoneNumber': 9481019888,
 'address': ['Japan', 'Korea'],
 'Proffession': 'Scientist',
 'nameL': 'N',
 'PhoneNumberL': 9,
 'addressL': ['J', 'K'],
 'ProffessionL': 'S'}

In [235]:
del wordMap['nameL']

In [236]:
wordMap

{'name': 'Navaneeth',
 'phoneNumber': 9481019888,
 'address': ['Japan', 'Korea'],
 'Proffession': 'Scientist',
 'PhoneNumberL': 9,
 'addressL': ['J', 'K'],
 'ProffessionL': 'S'}

In [237]:
len(wordMap)

7

In [238]:
for a,b in wordMap.items():
    print(a,":",b)

name : Navaneeth
phoneNumber : 9481019888
address : ['Japan', 'Korea']
Proffession : Scientist
PhoneNumberL : 9
addressL : ['J', 'K']
ProffessionL : S

# Comprerhension

In [241]:
squareNumber = [x**2 for x in range(1,10)]
squareNumber

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [249]:
vowels = ['a','e','i','o','u']
paragraph = ['This is it','I am from','Different Country','Rather Than one']
wordList=[]
for sentence in paragraph:
    for word in sentence.split(' '):
        wordList.append(word)
print(wordList)

['This', 'is', 'it', 'I', 'am', 'from', 'Different', 'Country', 'Rather', 'Than', 'one']

In [247]:
wordListComprehension =[word for sentence in paragraph for word in sentence.split(' ')]

In [248]:
wordListComprehension

['This',
 'is',
 'it',
 'I',
 'am',
 'from',
 'Different',
 'Country',
 'Rather',
 'Than',
 'one']

In [252]:
vowels = ['a','e','i','o','u']
paragraph = ['This is it','I am from','Different Country','Rather Than one']
wordList=[]
vowelList = []
for sentence in paragraph:
    for word in sentence.split(' '):
        wordList.append(word)
        if word[0].lower() in vowels:
            vowelList.append(word)
print(wordList)
print(vowelList)

['This', 'is', 'it', 'I', 'am', 'from', 'Different', 'Country', 'Rather', 'Than', 'one']
['is', 'it', 'I', 'am', 'one']

In [253]:
vowelListComprehension = [word for sentence in paragraph for word in sentence.split(' ') if word[0].lower() in vowels]

In [255]:
vowelListComprehension

['is', 'it', 'I', 'am', 'one']

In [256]:
dataNam = {n:n*n for n in range(1,10)}

In [257]:
dataNam

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [264]:
studentList = {1:['Suresh','Member'],2:['Shanthapriya','President'],3:['VinayaKumar','Director'],4:['Venkatesh','Director']}

In [265]:
studentList

{1: ['Suresh', 'Member'],
 2: ['Shanthapriya', 'President'],
 3: ['VinayaKumar', 'Director'],
 4: ['Venkatesh', 'Director']}

In [266]:
directors = {director:detail[0] for director,detail in studentList.items() if detail[1]=='Director' }

In [267]:
directors

{3: 'VinayaKumar', 4: 'Venkatesh'}